* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 6px;
    background-image: linear-gradient(0, #63b9fe, #ab83ef);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    z-index: 4;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    color: white;
    text-decoration: none;
}

.logo:active {
    color: white;
}

.logo-img {
    width: 50px;
}

.zingtify {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar {
    position: static;
    visibility: visible;
    box-shadow: none;
    padding: 0;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border: none;
    margin-top: 4px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: var(--fs-4);
    padding: 10px;
    border-radius: 4px;
}

.nav-link:hover {
    color: #c9f9ed;
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.navbar-actions a {
    text-decoration: none;
}

.btn {
    background-color: #63b9fe;
    cursor: pointer;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 9px 10px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #837dff;
}

.hero {
    padding: 100px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.hero-content {
    width: 95%;
}

.hero-title {
    width: 100%;
    margin-bottom: 30px;
}

.hero-text {
    line-height: 1.8;
    margin-bottom: 25px;
}

.hero-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.btn-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.btn-primary {
    background: #63b9fe;
    padding: 12px;
}

.btn-primary:hover {
    opacity: 0.8;
}

.hero .btn-primary {
    margin-bottom: 25px;
}

.btn-title {
    margin-bottom: 25px;
    color: #2780a0;
}

.hero .btn-link {
    color: #3fa5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero .btn-link:hover {
    color: #277aa0;
    opacity: 0.8;
}

.hero .btn-link {
    margin-bottom: 25px;
}

.hero-banner {
    display: block;
    width: 100%;
    padding-top: 100%;
    background: url("./img/micro.jpg") no-repeat;
    background-size: cover;
    border-radius: 100px;
}

.footer {
    background-color: #f2f1f1;
    color: black;
    border-top: 4px solid #3fa5f9;
}

.footer-top {
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.footer-brand,
.footer-brand .logo {
    margin: 15px 0;
    color: #3fa5f9;
}

.footer-text {
    color: black;
    line-height: 1.6;
    margin-right: 50px;
    text-align: justify;
}

.footer-list {
    margin: 18px 0;
    list-style: none;
}

.footer-list>li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-link-title {
    color: #3fa5f9;
    font-weight: 700;
    font-size: large;
    margin: 22px 0;
}

.footer-link {
    color: black;
    width: max-content;
}

.footer-link:hover,
.footer-link:focus {
    color: #3fa5f9;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    width: 350px;
    margin: 0 auto;
}

.copyright {
    line-height: 1.8;
    padding-block: 8px;
    margin: 0 auto;
    color: #3fa5f9;
    font-weight: 700;
}

.hot,
.all {
    font-weight: 700;
    color: #3fa5f9;
}

.hot {
    margin:20px 0;
}

.all {
    margin: 60px 0 20px;
}

.podcast {
    padding: 20px 0 20px;
    max-width: 1200px;
    margin: 0px auto;
}

.podcast-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style: none;
}

.podcast-card {
    border-radius: 4px;
    color: #348efe;
    font-size: 18px;
}

.card-banner {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
    z-index: 1;
}

.card-banner img {
    width: 100%;
}

.card-meta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    color: #3fa5f9;
}

.podcast-card:hover .card-title, 
.podcast-card:hover .card-banner {
    opacity: 0.8;
    color: #837dff;
}

.btn-load-more {
    margin: 25px auto 20px;
}

.newsletter {
    padding: 68px 0 0;
}

.newsletter-card {
    padding: 60px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.newsletter-card .card-content {
    max-width: 50%;
}

.newsletter-card .card-title {
    line-height: 1.3;
    margin-bottom: 10px;
    color: #348efe;
}

.newsletter-card .card-text {
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.card-form {
    background-color: #ddedf9;
    padding: 30px 25px 25px;
    border-radius: 20px;
}

.input-field {
    padding: 18px 15px;
    border-radius: 10px;
    background: white;
    color: #3fa5f9;
    border: 3px solid #f8fafc;
    margin-bottom: 20px;
    width: 100%;
}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
    color: inherit;
}

.input-field:focus::placeholder {
    opacity: 0;
}

.newsletter-card .btn-primary {
    width: 100%;
    padding-block: 18px;
}

li {
    list-style: none;
}

.panel {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 25px 0;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px 0;
}

.pricing-plan:last-child {
    border-right: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 75%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 15px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.6;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #67b4f7;
    color: white;
}